### Missing Values and Deleting Data points



### Step 1. Import the necessary libraries numpy, pandas etc

In [21]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *wine.txt* from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) or from the folder

In [22]:
wine = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=",",header=None)

### Step 3. Assign it to a variable called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [23]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [24]:
wine = wine.iloc[:,[1,2,4,5,7,9,11]]

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [25]:
wine = wine.rename(columns= {1:'alcohol', 2:'malic_acid', 4:'alcalinity_of_ash', 5:'magnesium',7:'flavanoids',9:'proanthocyanins',11:'hue'})

In [26]:
wine.head(7)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
5,14.20,1.76,15.2,112,3.39,1.97,1.05
6,14.39,1.87,14.6,96,2.52,1.98,1.02

### Step 6. Set the values of the first 3 values from alcohol column as NaN

In [27]:
wine.alcohol[0:3] = 'NaN'

C:\Users\Shruti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [28]:
wine.magnesium[3:5] = 'NaN'

C:\Users\Shruti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [29]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

In [30]:
wine.alcohol[wine.alcohol=='NaN'] = 10
wine.magnesium[wine.magnesium =='NaN'] = 100

C:\Users\Shruti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shruti\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Step 9. Count the number of missing values in all columns.

In [31]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [32]:
sum(wine['alcohol'].isnull())
sum(wine['malic_acid'].isnull())
sum(wine['alcalinity_of_ash'].isnull())
sum(wine['magnesium'].isnull())
sum(wine['flavanoids'].isnull())
sum(wine['proanthocyanins'].isnull())
sum(wine['hue'].isnull())

0

### Step 10.  Create an array of 10 random numbers up until 10 and save it.

In [33]:
random = np.random.randint(0,10,size=10)

In [34]:

random

array([3, 1, 4, 8, 7, 6, 1, 3, 8, 5])

In [35]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127,3.06,2.29,1.04
1,10,1.78,11.2,100,2.76,1.28,1.05
2,10,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,100,3.49,2.18,0.86
4,13.24,2.59,21.0,100,2.69,1.82,1.04

### Step 11.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [36]:
wine.alcohol[random]= np.nan

C:\Users\Shruti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:

wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,10,2.36,18.6,101,3.24,2.81,1.03
3,NaN,1.95,16.8,100,3.49,2.18,0.86
4,NaN,2.59,21.0,100,2.69,1.82,1.04

### Step 12.  How many missing values do we have now?

In [38]:
wine.isnull().sum()

alcohol              7
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [40]:
def var_summary(x):
    return pd.Series([x.count(), x.isnull().sum(), x.sum(), x.mean(), x.median(),  x.std(), x.var(), x.min(), x.quantile(0.01), x.quantile(0.05),x.quantile(0.10),x.quantile(0.25),x.quantile(0.50),x.quantile(0.75), x.quantile(0.90),x.quantile(0.95), x.quantile(0.99),x.max()], 
                  index=['N', 'NMISS', 'SUM', 'MEAN','MEDIAN', 'STD', 'VAR', 'MIN', 'P1' , 'P5' ,'P10' ,'P25' ,'P50' ,'P75' ,'P90' ,'P95' ,'P99' ,'MAX'])

In [41]:
wine.apply(lambda x: var_summary(x)).T

,N,NMISS,SUM,MEAN,MEDIAN,STD,VAR,MIN,P1,P5,P10,P25,P50,P75,P90,P95,P99,MAX
alcohol,171.0,7.0,2208.430,12.914795,12.930,0.847332,0.717971,10.00,10.7210,11.6300,11.840,12.3100,12.930,13.6000,13.900,14.1750,14.3800,14.75
malic_acid,178.0,0.0,415.870,2.336348,1.865,1.117146,1.248015,0.74,0.8977,1.0610,1.247,1.6025,1.865,3.0825,3.983,4.4555,5.5422,5.80
alcalinity_of_ash,178.0,0.0,3470.100,19.494944,19.500,3.339564,11.152686,10.60,11.3540,14.7700,16.000,17.2000,19.500,21.5000,24.000,25.0000,28.5000,30.00
magnesium,178.0,0.0,17723.000,99.567416,98.000,14.180374,201.083000,70.00,78.0000,80.8500,85.000,88.0000,98.000,107.0000,118.000,124.3000,141.7600,162.00
flavanoids,178.0,0.0,361.210,2.029270,2.135,0.998859,0.997719,0.34,0.4700,0.5455,0.607,1.2050,2.135,2.8750,3.233,3.4975,3.7914,5.08
proanthocyanins,178.0,0.0,283.180,1.590899,1.555,0.572359,0.327595,0.41,0.4200,0.7300,0.854,1.2500,1.555,1.9500,2.305,2.7090,3.0336,3.58
hue,178.0,0.0,170.426,0.957449,0.965,0.228572,0.052245,0.48,0.5477,0.5700,0.610,0.7825,0.965,1.1200,1.233,1.2845,1.4269,1.71

### Step 14. Print only the non-null values in alcohol

In [42]:
wine.alcohol[wine.alcohol.notnull()]

0         10
2         10
9      13.86
10      14.1
11     14.12
       ...
173    13.71
174     13.4
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: object

In [43]:
wine['alcohol'].dropna()

0         10
2         10
9      13.86
10      14.1
11     14.12
       ...
173    13.71
174     13.4
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: object

### Step 13. Delete the rows that contain missing values

In [44]:
wine= wine.dropna(axis=0,how='any')

### Step 15.  Reset the index, so it starts with 0 again

In [45]:
wine = wine.reset_index(drop=True)

In [46]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127,3.06,2.29,1.04
1,10,2.36,18.6,101,3.24,2.81,1.03
2,13.86,1.35,16.0,98,3.15,1.85,1.01
3,14.1,2.16,18.0,105,3.32,2.38,1.25
4,14.12,1.48,16.8,95,2.43,1.57,1.17