# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [43]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *chipotle.tsv*

In [44]:
chipo = pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [45]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [46]:
chipo['item_price']= chipo['item_price'].str.replace("$"," ")

In [47]:
chipo.item_price=pd.to_numeric(chipo.item_price)

In [49]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [68]:
pd.Series(chipo.item_name.loc[chipo.item_price>10.00])

4             Chicken Bowl
5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1130, dtype: object

In [58]:
chipo.item_price[chipo.item_price > 10.00].count()

1130

In [61]:
sum(chipo.item_price > 10.00)

1130

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [30]:
chipo[['item_name','item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [31]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
chipo.item_price.max()

44.25

In [33]:
chipo[chipo.item_price == chipo.item_price.max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [34]:
sum(chipo.item_name =='Veggie Salad Bowl')

18

In [35]:
VeggieSalad=pd.value_counts(chipo.order_id[chipo.item_name =='Veggie Salad Bowl'].values).reset_index()

### Step 9. How many times people orderd more than one Canned Soda?

In [61]:
a = chipo[chipo.item_name =='Canned Soda']

In [62]:
b = pd.value_counts(a['order_id'].values)

In [63]:
b[b>1]

108     3
1434    2
1156    2
1484    2
81      2
1396    2
496     2
787     2
450     2
dtype: int64

In [64]:
pd.value_counts(chipo.order_id[chipo.item_name =='Canned Soda'].values)

108     3
1434    2
1156    2
1484    2
81      2
       ..
338     1
1440    1
1494    1
87      1
256     1
Length: 94, dtype: int64

In [65]:
pd.value_counts(chipo.order_id[chipo.item_name =='Canned Soda'].values)[pd.value_counts(chipo.order_id[chipo.item_name =='Canned Soda'].values)>1]

108     3
1434    2
1156    2
1484    2
81      2
1396    2
496     2
787     2
450     2
dtype: int64